
body {
    font-family: Avantgarde;
    margin: 0px;
    padding: 0px;
    background-color: #ec7a7a;
  }

  nav.second-nav {
    font-family: Calibri;
    background-color: #00ccf0;
    padding: 1em;
    text-align: center;
    font-size: 5pt;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-shadow: horizontal-offset vertical-offset blur-radius color;
}

  nav {
    background-color: #333;
    padding: 1em;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 1em;
  }
  
  nav a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  nav a:hover {
    color: #ccc;
  }
  
  nav a.active {
    color: #66d9ef;
  }
  
  h4{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
  }



section {
    height: 400px; 
    padding: 20px;
    /* margin-top: 50px;  */
}
#section1 #section3 #section5{
  background-color: #d88ccc;
}
#section2 #section4 #section6{
  background-color: #f0bfcb;
}
