<!DOCTYPE html>
<html>

<head>
  <title>Fragments</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <!-- <div> twitch.tv/kimmylubs :3 </div> -->
  <nav>
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="../allergen/">Allergens</a></li>
      <li><a href="../calculator/">Calculator</a></li>
      <li><a href="../fragments/">Fragments</a></li>
      <li><a href="../kaling/">Kaling</a></li>
      <li><a href="../travel/">Travels</a></li>
      <li><a href="../unix/">Unix</a></li>
      <!-- <li><a href="../shop/">Shop</a></li> -->
    </ul>
  </nav>
  <h1>Fragments</h1>

  <img src="Screenshot 2024-06-15 at 5.11.43 PM.jpg" width="430" height="430" />
  <div class="container">
    <div class="bubble">
      <h2>Skill Node</h2>
      <input id="level1-1" type="number" placeholder="Current Level">    </br>
      <input id="level1-2" type="number" placeholder="Desired Level">
    </br>
      <button id="calc-1">Calculate</button>
    </br>
      <p id="result-1"></p>
    </div>

    <div class="bubble">
      <h2>Mastery Node</h2>
      <input id="level2-1" type="number" placeholder="Current Level">    </br>
      <input id="level2-2" type="number" placeholder="Desired Level">
    </br>
      <button id="calc-2">Calculate</button>
    </br>
      <p id="result-2"></p>
    </div>
  </div>

  <div class="container">
    <div class="bubble">
      <h2>Boost Node</h2>
      <input id="level3-1" type="number" placeholder="Current Level">    </br>
      <input id="level3-2" type="number" placeholder="Desired Level">
    </br>
      <button id="calc-3">Calculate</button>
    </br>
      <p id="result-3"></p>
    </div>

    <div class="bubble">
      <h2>Common Node</h2>
      <input id="level4-1" type="number" placeholder="Current Level">     </br>
      <input id="level4-2" type="number" placeholder="Desired Level">
    </br>
      <button id="calc-4">Calculate</button>
    </br>
      <p id="result-4"></p>
    </div>
  </div>

  <!-- <img src="Screenshot 2024-06-15 at 5.11.43 PM.jpg" width="300" height="300" /> -->

  <div class="sources">
    Sources:
    </br>
    1. https://namu.wiki/w/HEXA%20%EB%A7%A4%ED%8A%B8%EB%A6%AD%EC%8A%A4#s-2.4.1
    </br>
    2.
    https://docs.google.com/spreadsheets/d/1Ih7PQyMk2wCsASg0OXGEfu-97WIHG0Xq20FSS9C0hLY/edit?gid=1042034286#gid=1042034286

  </div>

  <script src="script.js"></script>
</body>

</html>