body {
  background-color: #87CEEB; /* Sky blue background */
  /* overflow: hidden;  */
}


.container {
  /* margin-right: 500px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-bottom: 20px; */
  /* background-color: #fff; */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  margin-left: 100px;
  padding: 10px;
  display: flex;
  flex-wrap: center;
}

.bubble{
  margin-right: 15px;
  margin-left: 15px;
  width: 350px;
  background-color: #d98cd9;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 5px;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

img{
  float: right; 
  margin-right: 25px; 
  padding: 0; 
  border: none;
}

.sources {
  margin: 15px;
}

h1{
  text-align: center;
}

.bubble-data{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-item:first-child {
  margin-top: 20px;
  margin-left: 20px;
}

nav {
  background-color: #333;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1em;
}

nav a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.2s ease;
}
nav a:hover {
  color: #ccc;
}

nav a.active {
  color: #66d9ef;
}

