body {
  font-family: Avantgarde;
  margin: 0px;
  padding: 0px;
  background-color: #ec7a7a;
}

.container {
  margin-right: 500px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-bottom: 20px;
}

.bubble{
  margin-left: 15px;
  width: 350px;
  background-color: #d98cd9;
  color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 5px;
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  /* box-shadow: 0px 0px 5px rgba(0,0,0,0.1); */
}

img{
  float: right; margin-right: 50px; padding: 0; border: none;
}

.sources {
  margin: 15px;
}
h1{
  text-align: center;
}

.bubble-data{
  display: flex;
  align-items: center;
  justify-content: center;
}

.bubble-item:first-child {
  margin-top: 20px;
  margin-left: 20px;
}

nav {
  background-color: #333;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1em;
}

nav a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.2s ease;
}
nav a:hover {
  color: #ccc;
}

nav a.active {
  color: #66d9ef;
}
nav {
  background-color: #333;
  padding: 1em;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ccc;
}

nav a.active {
  color: #66d9ef;
}
